body {
    background-color: #DDDDDD;
}
.content-box {
    align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 500px;
    max-width: 4000px;

}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.kindInputBoxes {
    display: none;
}
.menu {
background-color: #CCCCCC;
white-space: nowrap;
padding: 1%;
margin: 0 1%;
}
.kind {
    cursor: pointer;
}
.kindInputBoxes#ab-cat:checked ~ .gallery .cat:not([data-catKind="Абиссинская"]){
    opacity: 0.5;
}
.kindInputBoxes#br-cat:checked ~ .gallery .cat:not([data-catKind="Британская"]){
    opacity: 0.5;
}
.kindInputBoxes#rg-cat:checked ~ .gallery .cat:not([data-catKind="Русская голубая"]){
    opacity: 0.5;
}
.kindInputBoxes#si-cat:checked ~ .gallery .cat:not([data-catKind="Сиамская"]){
    opacity: 0.5;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}
.cat {
    position: relative;
}
.cat::after {
    display: none;
    content: attr(data-catInfo);
    position: absolute;
    top: 5%;
    padding: 4%;
    opacity: 0.7;
    margin: 0 15% 0 0;
    color: #FFF;
    background-color: #666;
}
.cat:hover::after {
    display: inline-block;
}

.rates {
    display: flex;
    flex-direction: column-reverse;
}
.rating {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 25%;
    background: #CCCCCC;
    white-space: nowrap;
    padding: 1%;
    margin: 0 1%;
}
.rating-name::before {
    font-size: 20px;
    content: attr(data-catKind);
}
.rating-name {

    background: linear-gradient(to right, red , white);
    margin: 2%;
    width: 30%;
}
.rating-name[data-catRate='9'], .rating-name[data-catRate='10'] {
    background: linear-gradient(to right, limegreen , white);
    width: 100%;
}
.rating-name[data-catRate='8'], .rating-name[data-catRate='7'],
.rating-name[data-catRate='6'], .rating-name[data-catRate='5'] {
    background: linear-gradient(to right, yellow , white);
    width: 60%;
}
.rating-name {
    order: 0;
}

#rate-checkbox::after {
    position: relative;
    left: 15px;
    bottom: 2px;
    content: 'по убыванию';
}
#rate-checkbox:checked ~ .rates .rating-name[data-catRate='10'] {
    order: 10;
}
#rate-checkbox:checked ~ .rates .rating-name[data-catRate='9'] {
    order: 9;
}
#rate-checkbox:checked ~ .rates .rating-name[data-catRate='8'] {
    order: 8;
}

.cat:nth-of-type(8n) {
    width: 99%;
}
.cat:nth-of-type(8n-1) {
    width: 49.5%;
}
.cat:nth-of-type(8n-2) {
    width: 49.5%;
}
.cat:nth-of-type(8n-3) {
    width: 33%;
}
.cat:nth-of-type(8n-4) {
    width: 33%;
}
.cat:nth-of-type(8n-5) {
    width: 33%;
}
.cat:nth-of-type(8n-6) {
    width: 49.5%;
}
.cat:nth-of-type(8n-7) {
    width: 49.5%;
}
.cat img {
    width: 100%;
}
