body {
    background-color: #DDDDDD;
}
.content-box {
    align-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
.wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.menu {
    background-color: #CCCCCC;
    padding: 2% 0 0 0;
    margin: 0 1%;

}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}
.cat {
    box-sizing: content-box;
}
.cat::after {
    display: none;
    content: attr(data-catInfo);
    position: relative;
    bottom: 20%;
    padding: 2%;
    margin: 0 15% 0 0;
    color: #FFF;
    background-color: #888;
}
.cat:hover::after {
    display: inline-block;
}
.cat:nth-of-type(8n) {
    width: 99%;
}
.cat:nth-of-type(8n-1) {
    width: 49.5%;
}
.cat:nth-of-type(8n-2) {
    width: 49.5%;
}
.cat:nth-of-type(8n-3) {
    width: 33%;
}
.cat:nth-of-type(8n-4) {
    width: 33%;
}
.cat:nth-of-type(8n-5) {
    width: 33%;
}
.cat:nth-of-type(8n-6) {
    width: 49.5%;
}
.cat:nth-of-type(8n-7) {
    width: 49.5%;
}
.cat img {
    width: 100%;
}
