.menu
{
    position: absolute;
    width: 99%;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.slider
{
    position: absolute;
    top: 70%;
    left: 50%;
}
#first
{
    transform: translate(-330%);
    z-index: -2;
}
#second
{
    transform: translate(-220%);
    z-index: -2;
}
#third
{
    transform: translate(-110%);
    z-index: -2;
}
#fourth
{
    transform: translate(0%);
    z-index: -2;
}
#fifth
{
    transform: translate(110%);
    z-index: -2;
}
#sixth
{
    transform: translate(220%);
    z-index: -2;
}
.item {
    width: 15%;
    min-width: 100px;
    max-width: 20%;
    margin: 3%;
    padding: 15px;
    float: left;
}

#first:checked ~ .menu .item
{
    left: 0%;
    transition-property: left;
    transition-duration: 1s;

    z-index: 1;
}
#second:checked ~ .menu .item
{
    left: -73%;
    transition-property: left;
    transition-duration: 1s;
    z-index: 1;
}
#second:checked ~ .menu .item {
    background-color: red;
    left: -73%;
}
#third:checked ~ .menu .item
{
    left: -146%;
    transition-property: left;
    transition-duration: 1s;
    z-index: 1;
}
#fourth:checked ~ .menu .item
{
    left: -219%;
    transition-property: left;
    transition-duration: 1s;

    z-index: 1;
}
#fifth:checked ~ .menu .item
{
    left: -292%;
    transition-property: left;
    transition-duration: 1s;
    z-index: 1;
}
#sixth:checked ~ .menu .item
{
    left: -365%;
    transition-property: left;
    transition-duration: 1s;
    z-index: 1;
}

img {
    max-width: 100%;
}
.description {
    display: none;
}

.item:hover .description {
    display: block;
}

.item:hover img {
    cursor: pointer;
}

.item:hover .description {
    display: block;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgBox {
    display: none;
}


.modal-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: auto;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.imgBox:checked ~ .modal-window {
    display: block;
}

.imgBox ~ .modal-window .fullImg{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

}
.close {
    display: none;
    position: fixed;
    right: 3%;
    top: 3%;
    z-index: 20;
    font-size: 18pt;
    color: #FFF;
}
.imgBox:checked ~ .close{
    display: block;
}
